<!DOCTYPE html>
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{% static 'accounts/signup.css'%}" type="text/css">
</head>
<body>

<form action="/login/"  method="post">
  {% csrf_token %}

  <h1>Sign In</h1>
  
  <fieldset>

    {{ form.as_p }}

  </fieldset>

  <button type="submit">Sign In</button>
</form>
<p style="text-align:center;">no account register <span><a href="/register">here</a></span></p>
{%for message in messages%}
  <p>{{message}}</p>
{% endfor %}

</body>
</html>