<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<body>
  <div>
    <form action="{% url 'login' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" id="submit">Login</button>
    </form>
    <p>no account register <span><a href="/register">here</a></span></p>

    {%for message in messages%}
      <p>{{message}}</p>
    {% endfor %}
  </div>
  
</body>
</html>