
{% extends "home.html" %}
{% load static %}
{% block contents %}
        <div class="row justify-content-center">
            <div class="col-md-4 order-md-2 mb-4">
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span  style="color: white;font-size: 3rem;text-align: center;">Task.io Subscribtion</span>
              </h4>
              <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">{{ membership.membership_type |title }}</h6>
                  </div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span>Total (USD)</span>
                  <strong>${{ membership.price }}</strong>
                </li>
              </ul>
      
              <div class="text-center pt-3">
                <script src="https://js.stripe.com/v3/"></script>
                <button id="checkout-button" data-secret="{{ session_id }}" onclick="openStripe()" class="btn btn-warning">
                    Checkout
                </button>

                <script>
                    var stripe = Stripe('{{stripe_public_key}}')
                    var sessionid = '{{ session_id }}';
                </script>
                <script src="{% static 'js/checkout.js' %}"></script>
    
              </div>
              </div>
        </div>
    </div>
{% endblock %}>