{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>TO DO</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'appdesign/home.css'%}">

</head>
<body>
  {% for message in messages %}
    <p class="alert alert-secondary" style="text-align: center;">{{ message }}</p>
  {% endfor %}
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home'%}">Task.io</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile'%}">welcome {{request.user}}</a>
            </li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'view_plans' %}">Upgrade</a>
			  </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}" style="color:red">Log out</a>
            </li>
          {%else%}
            <li class="nav-item">
              <a class="nav-link"  href="{% url 'login' %}">Sign in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register'%}"> Register</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

	<div class="container">
		{% block contents %}

		<div id="task-container">
			<div id="form-wrapper">
				<form id="form" action="/add/" method="post">
          {% csrf_token %}
					<div class="flex-wrapper">
						<div style="flex: 6">
							<input id="title" class="form-control" type="text" name="title" placeholder="Add task">
						</div>
						<div style="flex: 1">
							<input id="submit" class="btn" type="submit" >
						</div>
					</div>
				</form>
			</div>

			<div id="list-wrapper">
        {% for task in tasks %}
          
        <div  class="task-wrapper flex-wrapper">
          
          {% if task.completed == True %}
            <div style="flex:7">
              <strike class="title">{{task.title}}</strike>
            </div>
            <div style="flex:1">
              <button data-task="{{task.id}}" data-action="{{task.completed}}" class="btn btn-sm btn-outline-info edit">uncheck</button>
            </div>
          {%else%}
            <div style="flex:7">
              {{task.title}}
            </div>
            <div style="flex:1">
              <button data-task="{{task.id}}" data-action="{{task.completed}}" class="btn btn-sm btn-outline-info edit">check</button>
            </div>
          {% endif %}

          <div style="flex:1">
            <button data-task="{{task.id}}" class="btn btn-sm btn-outline-dark delete">delete</button>
          </div>

        </div>
        {% endfor %}
			</div>	
		</div>
	
		{% endblock %}

	</div>
	{% block js_files %}
	<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
	{% endblock %}

</body>
</html>