<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=
  , initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <h1> USER SYSTEM SNIPPS</h1>
  </header>
  <div>
    <a href="{% url 'register'%}">Register</a>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'logout'%}">Logout</a>
  </div>

  <div>
    <h3>welcome {{request.user}}</h3>
  </div>
  
</body>
</html>